<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center"
    style="background-image: url('/img/bg_web.png (1920×750).png'); height: 70vh; background-size: cover; background-position: center;">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 text-center">
          <!-- <img src="/img/bg_web.png (1920×750).png" alt="Background Image" style="max-width: 100%; height: auto;"> -->
          <h2 id="text">Assoc. Prof. Dr. Ngamnit Atjin</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content to test scrolling -->
<div class="container" style="margin-top: 100px;">
  <br>
  <h1>ตำรา หนังสือ และเอกสารประกอบการสอน</h1>
  <br>
  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row gy-4">
          
          <!-- Card 1 -->
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
            <div class="card">
              <img src="/public/img/MRG4880135.png" class="card-img-top" alt="MRG4880135" />
              <div class="card-body">
                <h3 class="card-title">
                  <a href="#" class="stretched-link">เทคโนโลยีเว็บแบบสื่อความหมาย (ทุนส่งเสริมการผลิตตำรา มหาวิทยาลัยขอนแก่น)</a>
                </h3>
                <p class="card-text">
                  งามนิจ อาจอินทร์. 2559. เทคโนโลยีเว็บแบบสื่อความหมาย (ทุนส่งเสริมการผลิตตำรา มหาวิทยาลัยขอนแก่น).
                  มหาวิทยาลัยขอนแก่น. 364 หน้า.
                </p>
              </div>
            </div>
          </div><!-- End Card 1 -->
    
          <!-- Card 2 -->
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
            <div class="card">
              <img src="./assets/img/AsstProf.jpg" class="card-img-top" alt="Assistant Professor" />
              <div class="card-body">
                <h3 class="card-title">
                  <a href="#" class="stretched-link">ตำราหรือหนังสือที่ผ่านการพิจารณาตามหลักเกณฑ์</a>
                </h3>
                <p class="card-text">
                  ตำราหรือหนังสือที่ผ่านการพิจารณาตามหลักเกณฑ์การประเมินตำแหน่งทางวิชาการแต่ไม่ได้นำมาขอรับการประเมินตำแหน่งทางวิชาการ; 1.0
                </p>
              </div>
            </div>
          </div><!-- End Card 2 -->
    
          <!-- Card 3 -->
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up">
            <div class="card">
              <img src="./assets/img/mdpi_computers.svg" class="card-img-top" alt="MDPI Computers" />
              <div class="card-body">
                <h3 class="card-title">
                  <a href="#" class="stretched-link">การบูรณาการข้อมูลสารสนเทศแบบสื่อความหมายสำหรับระบบการเรียนรู้ผ่านสื่ออิเล็กทรอนิกส์</a>
                </h3>
                <p class="card-text">
                  งามนิจ อาจอินทร์. 2559. เทคโนโลยี XML และการประยุกต์. เอกสารคำสอน. ภาควิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยขอนแก่น. 224 หน้า.
                </p>
              </div>
            </div>
          </div><!-- End Card 3 -->
    
        </div><!-- End row -->
      </div><!-- End container -->
    </section><!-- End Services Section -->
    

    <!-- ======= Research Published Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-header">
          <br>
          <h1>งานวิจัย และบทความทางวิชาการ</h1>
          <br>
        </div>

        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="./assets/img/1.png" class="card-img-top" alt="Hierarchical BPMN Verification" />
              <div class="card-body">
                <h3 class="card-title"><a
                    href="https://www.semanticscholar.org/paper/A-Sentiment-Classification-from-Review-Corpus-using-Suwanpipob-Arch-int/8989cf7ced83bdb0f8f2739221cc32d0da19c7c7">A
                    Sentiment Classification from Review Corpus using Linked Open Data and
                    Sentiment Lexicon</a></h3>
                <p>Suwanpipob, W., Arch-Int, N., Wattana, M. (2021). A Sentiment Classification from
                  Review Corpus using Linked Open Data and Sentiment Lexicol, Proceedings of the
                  13th International Conference on Information Technology and Electrical
                  Engineering, (ICITEE 2021), Oct 14-15, 2021, pp. 19-23.</p>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <img src="./assets/img/2.png" class="card-img-top" alt="Accounting System Verification" />
              <div class="card-body">
                <h3 class="card-title"><a href="https://biology.sc.mahidol.ac.th/acdemic_weighting/"
                    class="stretched-link">บทความวิจัยหรือบทความวิชาการฉบับสมบูรณ์ที่ตีพิมพ์ในรายงานสืบเนื่องจากการประชุมวิชาการระดับนานาชาติ</a>
                </h3>
                <p>บทความวิจัยหรือบทความวิชาการฉบับสมบูรณ์ที่ตีพิมพ์ในรายงานสืบเนื่องจากการประชุมวิชาการระดับนานาชาติ
                  หรือในวารสารวิชาการระดับชาติที่มีอยู่ในฐานข้อมูล ตามประกาศ ก.พ.อ.
                  หรือระเบียบคณะกรรมการการอุดมศึกษาว่าด้วย
                  หลักเกณฑ์การพิจารณาวารสารทางวิชาการสำหรับการเผยแพร่ผลงานทางวิชาการ พ.ศ.2556; 0.4
                </p>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img src="./assets/img/3.png" class="card-img-top" alt="Stochastic Process Verification" />
              <div class="card-body">
                <h3 class="card-title"><a
                    href="https://www.semanticscholar.org/paper/A-semantic-framework-for-extracting-taxonomic-from-Doan-Arch-int/d7be0d0d30c8d2bdf08e755ab89dd9bc7c3d7b41"
                    class="stretched-link">A semantic framework for extracting taxonomic
                    relations from text corpus</a></h3>
                <p>Doan, P. T. H., Arch-int, N. and Arch-int, S. (2020). A Semantic Framework for
                  Extracting Taxonomic Relations From Text Corpus. The International Arab Journal
                  of Information Technology: IAJIT, 17(3), pp. 325-337.</p>
              </div>
            </div>
          </div><!-- End Card Item -->
        </div>
      </div>
    </section><!-- End Research Published Section -->
  