<style>
  #main {
    min-height: 80vh;
  }
</style>
<div class="container" style="margin-top: 100px;">
  <h2>เพิ่มสื่อ ตำรา หนังสือ และเอกสารประกอบการสอน</h2>
  <br>
  <main id="main">
    <section id="service" class="services pt-0">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row gy-4">
          
          <form>
            <div class="mb-3">
              <label for="" class="form-label">หัวข้อ | Title</label>
              <input type="email" class="form-control" id="" required>
              <div id="" class="form-text">Enter the title here.</div>
            </div>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Enter the content here." id="" style="height: 300px"></textarea>
              <label for="floatingTextarea2">Content | เนื้อหา</label>
            </div>
            
            <label for="" class="form-label mt-3">รูปภาพ (Optional)</label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02">
              <label class="input-group-text " for="inputGroupFile02">Upload</label>
            </div>
            <button type="submit" class="btn mt-3 btn-primary">โพสต์</button>
          </form>

          <!-- <div class="col-lg-12 col-md-6 aos-init aos-animate" data-aos="fade-up">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">
                  <a href="#" class="stretched-link">เทคโนโลยีเว็บแบบสื่อความหมาย (ทุนส่งเสริมการผลิตตำรา มหาวิทยาลัยขอนแก่น)</a>
                </h3>
                <p class="card-text">
                  งามนิจ อาจอินทร์. 2559. เทคโนโลยีเว็บแบบสื่อความหมาย (ทุนส่งเสริมการผลิตตำรา มหาวิทยาลัยขอนแก่น).
                  มหาวิทยาลัยขอนแก่น. 364 หน้า.
                </p>
              </div>
            </div>
          </div> -->
  </main>
</div>