<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css">
    <title>Login Page</title>
    <style>
        body {
            background-color: #f8f9fa;
            margin-top: 3%;
        }

        .card {
            border-radius: 24px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
            overflow: hidden;
        }

        .video-container {
            position: relative;
            height: 100%;
        }

        .video-container video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .form-section {
            padding: 20px;
        }

        @media (max-width: 991px) {
            .video-container {
                display: none;
            }
        }

        .pop-up-success {
            position: fixed;
            top: 10%;
            right: 10%;
            background-color: #1ca53c;
            color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: none;
        }
    </style>
</head>

<body>
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="card" style="width: 80%; max-width: 800px;">
            <div class="row g-0">
                <!-- Video Section -->
                <div class="col-lg-4 d-flex video-container">
                    <video autoplay loop muted playsinline>
                        <source src="/videos/jellyFish_verti.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- Form Section -->
                <div class="col-lg-8 d-flex align-items-center justify-content-center text-black form-section ">
                    <div class="px-5">
                        <div class="logo mb-4">
                            <i class="fas fa-crow fa-2x me-3" style="color: #709085;"></i>
                            <span class="h1 fw-bold mb-0">เข้าสู่ระบบ</span>
                        </div>
                        <form id="loginForm" style="width: 100%; max-width: 400px;">
                            <div class="form-floating mb-4">
                                <input type="email" name="email" id="email"
                                    class="form-control form-control-lg" placeholder="โปรดกรอกอีเมลของท่าน" required />
                                <label class="form-label" for="email">อีเมล*</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="password" name="password" id="password"
                                    class="form-control form-control-lg" placeholder="โปรดกรอกรหัสผ่านของท่าน" required />
                                <label class="form-label" for="password">รหัสผ่าน*</label>
                            </div>

                            <div class="form-check mb-4 remember-me-label">
                                <input type="checkbox" name="rememberMe" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">จดจำฉันไว้</label>
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-info btn-lg btn-block" type="submit">เข้าสู่ระบบ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pop-up-success" id="popUpSuccess">
        <i class="fas fa-check-circle"></i> เข้าสู่ระบบสำเร็จ!
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script>
        const loginForm = document.getElementById('loginForm');
        loginForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(loginForm);
            const data = {
                email: formData.get('email'),
                password: formData.get('password'),
                // rememberMe: formData.get('rememberMe') === 'on'
            };

            const response = await fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            const result = await response.json();
            console.log(result)
            if (result.token) {
                // แสดง pop-up สำเร็จ
                Swal.fire({
                    title: "เข้าสู่ระบบสำเร็จ",
                    text: '',
                    icon: "success"
                }).then((result) => {
                    window.location.href = '/'
                })
                setTimeout(() => {
                    window.location.href = '/';
                }, 1000); // ซ่อนหลังจาก 3 วินาที
                // const popUp = document.getElementById('popUpSuccess');
                // popUp.style.display = 'block';
                
            } else {
                Swal.fire({
                    title: "เข้าสู่ระบบล้มเหลว",
                    text: result.error,
                    icon: "error"
                }).then((result) => {
                    
                })
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            // ตรวจสอบว่า remember me เปิดอยู่หรือไม่ ถ้าใช่ให้ auto fill email/password
            const emailField = document.getElementById("email");
            const passwordField = document.getElementById("password");
            const rememberMeCheckbox = document.getElementById("rememberMe");

            // โหลดค่าจาก Local Storage ถ้ามี
            if (localStorage.getItem("rememberMe") === "true") {
                emailField.value = localStorage.getItem("email");
                passwordField.value = localStorage.getItem("password");
                rememberMeCheckbox.checked = true;
            }

            // เมื่อคลิกปุ่ม Submit เก็บค่าลง Local Storage
            document.getElementById("loginForm").addEventListener("submit", () => {
                if (rememberMeCheckbox.checked) {
                    localStorage.setItem("email", emailField.value);
                    localStorage.setItem("password", passwordField.value);
                    localStorage.setItem("rememberMe", "true");
                } else {
                    // ถ้าไม่ได้เลือก remember me, ลบข้อมูลออกจาก Local Storage
                    localStorage.removeItem("email");
                    localStorage.removeItem("password");
                    localStorage.setItem("rememberMe", "false");
                }
            });
        });
    </script>
</body>

</html>