body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.page-header {
  background-size: cover;
  background-position: center;
  height: 70vh; /* You can adjust this as needed */
}
